<html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Coursework2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>My blog</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/main.css')}}"
    rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/about.css')}}"
    rel="stylesheet"/>
    <!--[if lte IE 8]>
    <link rel=stylesheet href="css/ie.css">
    <![endif]-->
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/respond.min.js')}}"></script>
  </head>
  <body>
    <!-- errors -->
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <!-- messages -->
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
      <!-- child template -->
      {% block content %} {% endblock %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dropdown.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl.js')}}"></script>
<!-- //-end- concat_js -->
  </body>
</html>
