{% extends "base.html" %}
{% block content %}

<div class="header">
	<div class="container rel text-left">
		<a class="brand brand-color" href="/"><img src="{{ url_for('static', filename='img/logo.jpg')}}" style="float:left"></a>
				<nav class=nav>
			<ul>
				<li>
					<form method="post" action='/ser'>search<input type='text' name='search'><input type='submit'>
					</form>
				</li>
				<li><a href="/welcome">Home</a>
				<li class="active"><a href="/logout">Log out</a>
			</ul>
		</nav>
	</div>
</div>
	<div class="container full-height">
    <h2>Your blog</h2>
		<br>
    <p>I'm sorry, something went wrong.</p>

</div>
	</div>
	<div class="footer text-center">
		<p>
			<a href="http://www.veronikarosicova.co.uk/portfolio.html">Check my portfolio</a> | <a href="http://www.veronikarosicova.co.uk">Curriculum Vitae</a>
		</p>
	</div>


{% endblock %}
