{% extends "base.html" %}
{% block content %}

<div class="header">
	<div class="container rel text-left">
		<a class="brand brand-color" href="/"><img src="{{ url_for('static', filename='img/logo.jpg')}}" style="float:left"></a>
		<nav class=nav>
			<ul>
				<li>
					<form method="post" action='/ser'>
						<input type='text' name='search'>
						<input type='submit'>
					</form>
				</li>
				<li><a href="/welcome">Home</a>
				<li class="active"><a href="/logout">Log out</a>
			</ul>
		</nav>
	</div>
</div>
	<div class="container full-height">
    <h2>Your blog</h2>
		<br>
    {% for post in posts %}
      <strong>Title:</strong> {{ post.title }} <br><br>
      <strong>Post:</strong> {{ post.description }} <br><br>
    <br>
    {% endfor %}
<hr>
		<form method="post" action="/add">
			<h3>Add new post</h3>
			<br>
			<div class = "form-group row">
				<div class="col-lg-4 col-md-4 col-xs-4">
					<INPUT TYPE="text" placeholder="Title of your post" class="form-control" NAME="title" >
				</div>
			</div>
			<div class = "form-group row">
				<div class="col-lg-4 col-md-4 col-xs-4">
					<textarea class="form-control" INPUT TYPE="text" placeholder="Write your new post here" NAME="post" rows=5></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button TYPE="submit" class="btn btn-prepend btn-shadow btn-scroll"><i class="prepended icon-arrow-down"></i><span class="btn-txt">Submit</span></button>
				</div>
			</div>
		</form>
<hr>
		<form method="post" action='/delete'>
			<h3>Delete post</h3>
			<br>
			<div class = "form-group row">
				<div class="col-lg-7 col-md-7 col-xs-7">
	  			<input type='text' placeholder="Title of the post you want to delete" class="form-control" name='delete'>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button TYPE="submit" class="btn btn-prepend btn-shadow btn-scroll"><i class="prepended icon-arrow-down"></i><span class="btn-txt">Delete</span></button>
				</div>
			</div>
		</form>
</div>



{% endblock %}
