{% extends "base.html" %}
{% block content %}

<body class="page-careers">
<div class="header">
	<div class="container rel text-left">
		<a class="brand brand-color" href="/welcome"><img src="{{ url_for('static', filename='img/logo.jpg')}}" style="float:left"></a>
		<nav class=nav>
			<ul>
				<li><a href="/welcome">Home</a>
				<li class="active"><a href="/login">Login</a>
			</ul>
		</nav>
	</div>
</div>
<div class="level level-hero hero-careers has-hint">
	<div class="container full-height">
		<div class="v-align-parent">
			<div class="v-center">
				<div class="row">
					<div class="col-sm-6 col-md-5">
						<h1 class="mb-30 xs-mb-10 scaled"><span>Please login</h1>
						<p class="mb-30 xs-mb-20">Use the form below to start writing into your blog.
              <form action="" method="post">
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="text" placeholder="Username" name="username" class="form-control" value="{{
                      request.form.username }}">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="password" placeholder="Password" name="password" class="form-control" value="{{
                   request.form.password }}">
                   </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-prepend btn-shadow btn-scroll"><i class="prepended icon-arrow-down"></i><span class="btn-txt">Log in</span></button>
                  </div>
                </div>
              </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hint-arrow hint-arrow-contrast"></div>
</div>
<div class="level">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='img/type.png')}}" width="90%">
			</div>
			<div class="col-md-6">
				<h2>Conquer your fears</h2>
				<br/>
				<br/>
				<blockquote>
					Whether you want to create a website about your favorite pet, hobbies, a struggle you are going through in life or even wanting to try and make a few dollars online, it’s all possible through the use of a blog. The good news is that you’ve found your way to this very site. Enjoy your blogging!
				</blockquote>
				<p>Veronika Rosicova</p>
			</div>
		</div>
	</div>
</div>
<div class="footer text-center">
	<p>
		<a href="http://www.veronikarosicova.co.uk/portfolio.html">Check my portfolio</a> | <a href="http://www.veronikarosicova.co.uk">Curriculum Vitae</a>
	</p>
</div>


{% endblock %}
